<!doctype html>
<html>

<head>
  <title>Chat panel</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>
      Admin panel
    </h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><a href="/admin-panel-messages">Messages</a></th>
          <th scope="col"><a href="/admin-panel-users">Users</a></th>
        </tr>
      </thead>
  </div>
</body>

</html>